$icomoon-font-family: "custom" !default;
$icomoon-font-path: "fonts" !default;

$icon-insta1: "\e900";
$icon-tel1: "\e901";
$icon-vk1: "\e902";
$icon-whats1: "\e903";
$icon-circle: "\e904";
$icon-cleaning-tools: "\e905";
$icon-clock: "\e906";
$icon-competitive: "\e907";
$icon-contract: "\e908";
$icon-f-logo: "\e909";
$icon-group: "\e90a";
$icon-increase: "\e90b";
$icon-insta: "\e90c";
$icon-like: "\e90d";
$icon-logo: "\e90e";
$icon-marker: "\e90f";
$icon-note: "\e910";
$icon-tel: "\e911";
$icon-telegram: "\e912";
$icon-thumb-up: "\e913";
$icon-vk: "\e914";
$icon-whats: "\e915";
$icon-wipe: "\e916";
