mixin about( abouts )
    each about in abouts
        .about__advantage--item.about__advantage
            .advantage__left
                .advantage__box--svg
                    +icon(about.nameSvg)
            .advantage__right
                .advantage__right--box
                    h3.advantage__title
                        =about.title
                    p.advantage__text
                        =about.text
section.about
    .container 
        .about__title 
            h2.about__headinng About SakaAgency
        .about__advantage--list
            +about([
                    {nameSvg: "10", title: "Since 2010", text: "have a long road journey about digital agency, we have the best experience to help grow your business"}, 
                    {nameSvg: "secure",  title: "satisfying guaranteed", text: "money-back guaranteed if you are not like our work, you can complaint"}, 
                    {nameSvg: "subway",  title: "Around The World", text: "We have the best team from around the world, so our customer is around the world"}, 
                    {nameSvg: "payments",  title: "Secure Payment", text: "Don’t worry about payment, our payment is 100% secure"}
                    ])