section.founder
    .container
        .founder__head
            h2.founder__headinng Meet The Founder
        .founder__list
            .founder__column
                .founder__item
                    .founder__item--left
                        h3 Jhon Doe
                        p A visioner, and tech-product design guy.
                    .founder__item--right 
                        img(src="img/founder-one.png")
                .founder__item
                    .founder__item--left
                        h3 Jhon Key
                        p Lead UI/UX Designer, loves design and build website
                    .founder__item--right 
                        img(src="img/founder-two.png")
                    
            .founder__column
                .founder__item
                    .founder__item--left
                        h3 Doe Jhon
                        p A tech guy, expert in MERN Stack and Server Side
                    .founder__item--right 
                        img(src="img/founder-three.png")
                .founder__item
                .founder__item
                    .founder__item--left
                        h3 Kekey
                        p Lead Researcher, loves data and human-centered design
                    .founder__item--right 
                        img(src="img/founder-four.png")