section.hero 
    .container 
        .hero__jumbotron
            .hero__jumbotron--wrapper
                .hero__jumbotron--text
                    h1.hero__jumbotron--title Digital Agency,
                        br
                        | We Create Experiences.
                    p.hero__jumbotron--subtitle Let’s Create an Amazing Website To Help Your Showcase And Make Up Your Business!
                .hero__jumbotron--action 
                    a(class="modal__link hero__jumbotron--btn" href="#contact-us" data-modal="#contactUs") Contact Us