.header__wrapper
    .header__logo
        a(href="#")=logoText
    .header__navigation
        +list([{href: "#", text: "Home"}, {href: "#", text: "About"}, {href: "#", text: "Services"}, {href: "#", text: "Project"}, {href: "#", text: "Testimonials"}])
    .header__action
        a(class="modal__link header__action--btn" href="#contact-us" data-modal="#contactUs") Contact Us
