.project
    .container
        .project__head
            h2.project__headinng The Best Amazing Project
            a(href="#").project__more--link
                span View All
                +icon("arrow")
        .project__list
            a.project__item
                img(src="img/page-one.png")
            a.project__item
                img(src="img/page-two.png")
            a.project__item
                img(src="img/page-three.png")
            a.project__item
                img(src="img/page-four.png")