:root {
  --bg-color-main: #12141D;
  --color-font-main: #000;
  --color-style-gray: #333333;
  --color-ui-link: #33a4fb;
  --color-style-blue: #33a4fb;
  --color-style-beige: #f6f6f6;
  --color-link-header-top: #fff;
  --color-mobile-link: #fff;
  --color-humburger: #fff;
  --color-button-font: #fff;
  --color-button-background: #fff;
  --color-popup-background: #33a4fb;
  --base-fonts: 1rem;
  --inner-marg-bott-elem: 20px;
  --margin-output-section: 90px;
  --blue: #46AAFB;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #249eff;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --dark-blue: #002848;
  --fg: #17181c;
	--shade1: var(--dark-blue), #727274;
	--shade2: #cccdd1;
	--shade3: #f3f4f8;
	--shade4: #ffffff;
	--dur1: 1s;
	--dur2: 6s;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --col-count: 0;
  --col-width: 0;
  --gap-width: 0;
  --max-col-width: calc(var(--col-count) * (var(--col-width) + var(--gap-width)) - var(--gap-width));
  --side-offset: calc((100vw - var(--max-col-width)) / 2);
}
