extends ../layout/layout

block vars
  - 
    let pageTitle = 'landing';
    let logoText = 'SakaAgency';
block header

  include ../includes/header
  include ../includes/hero

block content

  include ../includes/content-cont
  
block footer

  include ../includes/footer
  
