.testimonial{
    padding: 100px 0;
    &__box{
        display: flex;
        &--right{
            max-width: 570px;
            padding-left: 26px;
            padding-top: 37px;
            padding-right: 44px;
            padding-bottom: 56px;
            background-color: #1E2028;
        }
        &--left{
            margin-right: 53px;
        }
    }
    &__swiper{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        padding: 0;
        &--slide{
            
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
        }
        &--wrapper{
            
            display: flex;
            width: 100%;
            // height: 100%;
        }
        &--pagination{
            display: block;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 10px;
            height: 10px;
            // position: absolute;
            text-align: center;
            transition: .3s opacity;
            // transform: translate3d(0,0,0);
            z-index: 10;
            
        }
        &--bullet {
            height: 10px;
            width: 10px;
            background-color: #8E8F93;
            display: inline-block;
            border-radius: 50%;
            cursor: pointer;
            &-active{
            background-color: #fff;
            z-index: 10;
            }
        }
    }
    &__quotemark{
        display: flex;
        justify-content: flex-end;
        svg{
            width: 80px;
            height: 68px;
        }
    }
    &__text{
        // margin-bottom: 50px;
        margin-bottom: 50px;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.9375rem;
        font-feature-settings: 'salt' on, 'liga' off;
    }
    &__naming{
        margin-bottom: 10px;
    }
    &__headinng{
        font-weight: 800;
        font-size: 3.125rem;
        line-height: 5.1875rem;
        max-width: 366px;
        margin-bottom: 10px;
        &--sub{
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 2.1875rem;
            font-feature-settings: 'salt' on, 'liga' off;
        }
    }
    &__head{
        margin-bottom: 17px;
        display: flex;
        align-items: center;
        &--image{
            margin-right: 20px;
            flex-shrink: 0;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            overflow: hidden;
        }
    }
}